:root{
    --cor-1: #18AFFC;
    --cor-2: #19F8FC;
    --cor-3: #19F8FC;
    --cor-4: #19FCB4;
    --cor-5: #1921FC;
    --cor-6: #131672;

    --bg-cor: #d6f4f5;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospaceSS;
}

header{
    background-color: var(--cor-5);
    padding: 2em;
    justify-content: center;
    border-radius: 0 0 1em 1em;
    transition: all 0.5s ease-in-out;
    border-bottom: var(--cor-6) solid 0.25em;
}

nav{
    justify-content: center;
}

.flex-linha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

header:hover{
    padding: 3.5em;
}

#icon-code{
    transition: all 1s ease-in-out;
}

#icon-code:hover{
    transform: translateY(-0.5em);
}
h1{
    transition: all 1s ease-in-out;
}
h1:hover{
    transform: translateY(-0.5em);
}
section{
    border: 0.25em solid rgb(128, 128, 128);
    border-radius: 0.5em;
    transition: all 1s ease-in-out;
    margin: 1em;
    width: 95%;
    margin: auto;
}
section:hover{
    transform: translateY(-0.5em);
}
body{
    background-color: var(--bg-cor);
}

.menu-container{
    width: 90%;
    background-color: white;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-header{
    padding: 0.5em;
    background-color: #19F8FC;
    color: #6b7c7c;
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    border-radius: 0.5em;
    margin-top: 1em;
    transition: all 0.5s ease-in-out;
}

hr{
    margin-top: 2em;
}

.card-header:hover{
    padding: 0.75em;
}

a{
    text-decoration: none;
    color: black;
}

.card-content{
    padding: 0.5em;
    background-color: #ccedee;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    border-radius: 0.5em;
    margin-top: 1em;
    list-style: none;
    transition: all 1s ease-in-out;
}

.card-content:hover{
    transform: translateY(-0.5em);
}

.card-content > ol{
    list-style: inside;
}

.card-content > ol > li{
    margin: 1em 0;
}

.tópicos{
    display: flex;
    flex-direction: column;
    gap: 5em;

}

ul{
    list-style: none;
}